body {
	background-color:#FFFFCC;
	color:#9999FF;
	font-family:Snell Roundhand;
	font-size:40px;
}

a:link    {color:#9999FF; background-color:transparent; text-decoration:none;}
a:visited {color:pink; background-color:transparent; text-decoration:none;}

div.Header {
	float:left;
	width:100%;
}
nav {
	text-align: center;
}
nav a {
	text-align: inherit;
    display: inline;
	padding: 0 25px;
}
div.Content{
	float:left;
	width:66%;
}

div.Data{
	float:left;
	width:33%;
}